header {
    div {
        display: inline-block;
        margin: 0 20px;
        a{
            text-decoration: none;
            color: black;
            font-weight: 500;
            font-size: 20px;
        }
    }
    position: fixed;
    left: 70%;
    top: 7%;
}